h1 {
  color: blue;
}

p {
  color: purple;
}

body {
  background-color: white;
}

p.inset {
  border-style: inset;
}

p.custom-version1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: DarkBlue;
}

img {
  opacity: 0.6; 
}

img:hover {
  opacity: 1.0; 
}

div {
  padding-left: 0.5px; 
}

