h1 {
  color: blue;
}

p {
  color: purple;
}

body {
  background-color: white;
}

p.inset {
  border-style: inset;
}

.custom-version1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: DarkBlue;
}

img {
  opacity: 0.6; 
}

img:hover {
  opacity: 1.0; 
}

div {
  padding-right: 20px; 
}

* {
  box-sizing: border-box; 
}

.column {
  float:left;
  width:33.33%;
  padding:5px;
}

.row::after {
   content:"";
   clear:both;
   display:table;
}

img.circle {
  border-radius:8px;
}

ul.navi {
  list-style-type: 0;
  margin: 0;
  padding: 0;
  width: 450px;
  background-color: LightGray;
  position: fixed;
  overfolow: auto; 
}

li a.navi {
  display: block;
  color: Black;
  padding: 8px 16px;
  text-decoration: none;
  letter-spacing: 3px;
}

li a:hover {
  background-color: LightSlateGrey;
  color: White;
}

