ul.navi {
  list-style-type: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: LightGray;
  position: fixed;
  overfolow: auto; 
}

li a.navi {
  display: block;
  color: Black;
  padding: 8px 16px;
  text-decoration: none;
  letter-spacing: 3px;
}

li a:hover {
  background-color: LightSlateGrey;
  color: White;
}
